
<h1><%= @divisions.department %></h1>

<p>This is the detail page for <%= @divisions.department %>. Here you can change the name of the department or delete it all together!</p>

<h3>Update <%= @divisions.department %></h3>

<form action="/division/<%= @divisions.id %>" method="post">
  <input name="_method" type="hidden" value="patch">
  <label for="department">Rename the department to:</label>
  <input id="department" name="department" type="text">

  <button type="submit">Update</button>
</form>

<h3>Click to delete</h3>
<form action="/division/<%= @divisions.id %>" method="post">
  <input name="_method" type="hidden" value="delete">
  <button type="submit" name="button">Delete</button>
</form>

<% if @employees.any? %>
<p>Here are the employees currently assigned to this department:</p>

  <% @employees.each do |employee| %>
    <ul>
      <li><%= employee.name %></li>
    </ul>
  <% end %>
<% else %>
<p>There aren't any employees assigned to this department yet!</p>
<% end %>

<h3>Add employee to division</h3>
<form action="/division/<%= @divisions.id %>" method="post">
  <label for="employee">Name:</label>
  <input name="employee" type="text">
  <button type="submit">Submit</button>
</form>

<a href="/">Return to Main Page</a>
